<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STNM-NLPhoenix </title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>STNM - NLPhoenix</h1>
        <form action="/predict/" method="post" class="centered-form">
            <textarea name="text" rows="4" cols="50" placeholder="Metni buraya girin"></textarea><br>
            <button type="submit">Analiz Et</button>
        </form>
        <div class="results">
            {% if results %}
                <h2>Sonuçlar:</h2>
                <ul>
                    {% for result in results %}
                        <li>
                            <strong>Entity:</strong> {{ result.entity }} <br>
                            <strong>Sentiment:</strong> {{ result.sentiment_label }} ({{ result.sentiment_score }})
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
